.horizon-contact-row {
    height: 60px;
    width: 100%;
    display: block;
}
.horizon-contact-list-image-wrapup {
    height: 100%; width: 60px; display: inline-block; float: left; margin-right: 10px;
}
.horizon-contact-list-image {
    height: 80%; width: 80%; padding: 10%; border-radius: 50%;
}
.horizon-contact-list-username-wrapup {
    display: inline-block; height: 59px; width: calc(100% - 120px); border-bottom: 1px solid #c7c7c7;
}
.horizon-contact-list-info {
    display: inline-block; float: right; height: 59px; width: 40px; padding-left: 10px; border-bottom: 1px solid #c7c7c7;
}