<div class="horizon-contact-row" style="padding: 50px 0px;">
  <a *ngFor="let contact of restList.items" routerLink="/contacts/{{contact.display('id')}}">
    <div class="horizon-contact-list-image-wrapup">
      <img class="horizon-contact-list-image" src="{{contact.display('file_path')}}" />
    </div>
    <div class="horizon-contact-list-username-wrapup">
      <div style="height: 100%; margin: 0; line-height: 60px;"><h4 style="margin: 0;">{{contact.display('lastname')}} {{contact.display('firstname')}}</h4></div>
    </div>
    <div class="horizon-contact-list-info">
      <i class="material-icons" style="font-size: 26px; height: 100%; width: 100%; text-align: center; line-height: 60px;">info</i>
    </div>
  </a>
</div>