<div class="horizon-register-page">
  <div>
    <h2 class="horizon-register-title"><a style="color: white; float: left; margin-left: 30px;" routerLink="/login"><i class="material-icons" style="color: white; font-size: 26px;">keyboard_arrow_left</i></a>- Horizon -</h2>
  </div>
  <div class="horizon-register-image-wrapup">
    <img class="horizon-register-image" src="http://api.localhost/api/v1.0/files/images/default_user.png">
  </div>
  <div class="horizon-register-body">
    <div class="horizon-register-input-warpup">
      <input class="horizon-register-input" type="text" placeholder="Vorname" maxlength="128" [(ngModel)]="firstname">
    </div>
    <div class="horizon-register-input-warpup">
      <input class="horizon-register-input" type="text" placeholder="Nachname" maxlength="128" [(ngModel)]="lastname">
    </div>
    <div class="horizon-register-input-warpup">
      <input class="horizon-register-input" type="email" placeholder="Email" maxlength="128" [(ngModel)]="login">
    </div>
    <div class="horizon-register-input-warpup">
      <input class="horizon-register-input" type="password" placeholder="Passwort" maxlength="128" [(ngModel)]="password">
    </div>
    <div class="horizon-register-submit-wrapup">
      <button class="horizon-register-submit" (click)="doRegister()">Registrieren</button>
    </div>
  </div>
</div>