<div class="horizon-register-page">
  <div>
    <a style="color: white;" routerLink="/login">Back</a><h2 class="horizon-register-title">- Horizon -</h2>
  </div>
  <div style="width: 100%; height: 125px;">
    <img style="margin-left: auto; margin-right: auto; display: block; height: 100px; width: 100px; padding: 3%; border-radius: 50%;" src="http://api.localhost/api/v1.0/files/images/default_user.png">
  </div>
  <div class="horizon-register-body">
    <div class="horizon-register-input-warpup">
      <input class="horizon-register-input" type="text" placeholder="Vorname" maxlength="128" [(ngModel)]="firstname">
    </div>
    <div class="horizon-register-input-warpup">
      <input class="horizon-register-input" type="text" placeholder="Nachname" maxlength="128" [(ngModel)]="lastname">
    </div>
    <div class="horizon-register-input-warpup">
      <input class="horizon-register-input" type="email" placeholder="Email" maxlength="128" [(ngModel)]="login">
    </div>
    <div class="horizon-register-input-warpup">
      <input class="horizon-register-input" type="password" placeholder="Passwort" maxlength="128" [(ngModel)]="password">
    </div>
    <div class="horizon-register-submit-wrapup">
      <button class="horizon-register-submit" (click)="doRegister()">Registrieren</button>
    </div>
  </div>
</div>