.horizon-login-page {
    width: 100%; background-color: #f1424b; padding: 50px 0px; height: calc(100% - 100px);
}
.horizon-login-title {
    text-align: center; color: white;
}
.horizon-login-body {
    max-width: 300px; width: 100%; margin-left: auto; margin-right: auto; text-align: center;
}
.horizon-login-input-warpup {
    height: 30px; background-color: white; margin-top: 5px;
}
.horizon-login-input {
    width: 95%; font-size: 15px; margin: 0 auto; height: 25px; border: 0; border-bottom: 1px solid #c7c7c7;
}
.horizon-login-submit-wrapup {
    height: 30px; margin-top: 5px;
}
.horizon-login-submit {
    width: 100%; height: 100%; background-color: white; border: none;
}
.horizon-login-error {
    max-width: 300px; width: 100%; margin-left: auto; margin-right: auto; text-align: center; color: #ffffff; margin-top: 25px;
}
.horizon-login-error-message {
    border: 0; height: 1px; background: #ffffff;
}