<div class="horizon-login-page">
  <div>
    <h1 class="horizon-login-title">- Horizon -</h1>
  </div>
  <div class="horizon-login-body">
    <div class="horizon-login-input-warpup">
      <input class="horizon-login-input" type="text" placeholder="Email" maxlength="128" [(ngModel)]="login">
    </div>
    <div class="horizon-login-input-warpup">
      <input class="horizon-login-input" type="password" placeholder="Passwort" maxlength="128" [(ngModel)]="password">
    </div>
    <div class="horizon-login-submit-wrapup">
      <button class="horizon-login-submit" (click)="doLogin()">Login</button>
    </div>
  </div>
  <div *ngIf="loginError.error" class="horizon-login-error">
    <hr class="horizon-login-error-message">
    {{loginError.message}}
  </div>
  <div class="horizon-login-register">
    <a style="color: #ffffff;" routerLink="/register">Registrieren für Horizon</a>
  </div>
</div>
