/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
body {
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}