<div *ngIf="restObject.length != 0 && !loading">
  <div style="width: calc(100% - 30px); display: block; padding: 55px 15px;">
    <div *ngFor="let message of restObject.items" class="horizon-chat-row-message">
      <span [ngClass]="{'horizon-chat-row-message-me': message.display('userId') == userId, 'horizon-chat-row-message-partner': message.display('userId') != userId}">{{message.display('text')}}</span>
    </div>
    <!--div style="width: 100%; min-height: 26px; overflow: auto; margin-bottom: 10px;">
      <span class="horizon-chat-row-message-me">Hey was läuft ?</span>
    </div>
    <div style="width: 100%; min-height: 26px; overflow: auto; margin-bottom: 10px;">
      <span style="float: right; max-width: 75%; line-break: auto; background-color: #f1424b; padding: 4px 10px; color: white; border-radius: 8px; border-bottom-right-radius: 1px;">Hey was läuft ?</span>
    </div-->
  </div>
</div>
<div *ngIf="restObject.length == 0 && !loading">
  <div style="width: calc(100% - 30px); display: block; padding: 55px 15px;">
    <h4 style="text-align: center;">Keine Nachrichten gefunden</h4>
  </div>
</div>
<div style="position: absolute; bottom: 0; height: 48px; border-top: 1px solid #c7c7c7; display: block; width: 100%;">
  <input type="text" style="border: 0; height: 18px; float: left; padding: 15px 25px; width: calc(100% - 150px); font-size: 16px;" placeholder="Nachricht" [(ngModel)]="message">
  <button (click)="sendMessage()" style="width: 99px; height: 48px; border: 0; float: right; border-left: 1px solid #c7c7c7; background-color: white; font-size: 16px;">Senden</button>
</div>