<div style="width: calc(100% - 30px); display: block; padding: 55px 15px;">
  <div style="width: 100%; min-height: 26px; overflow: auto; margin-bottom: 10px;">
    <span style="float: left; max-width: 75%; line-break: auto; background-color: #e7e7e7; padding: 4px 10px; border-radius: 8px; border-bottom-left-radius: 1px;">Hey</span>
  </div>
  <div style="width: 100%; min-height: 26px; overflow: auto; margin-bottom: 10px;">
    <span style="float: right; max-width: 75%; line-break: auto; background-color: #f1424b; padding: 4px 10px; color: white; border-radius: 8px; border-bottom-right-radius: 1px;">Hey was läuft ?</span>
  </div>
  <div style="width: 100%; min-height: 26px; overflow: auto; margin-bottom: 10px;">
    <span style="float: right; max-width: 75%; line-break: auto; background-color: #f1424b; padding: 4px 10px; color: white; border-radius: 8px; border-bottom-right-radius: 1px;">Hey was läuft ?</span>
  </div>
</div>