<div *ngIf="!loading">
  <div class="horizon-contact-detail-row">
    <div style="display: inline; width: 100px; float: left; height: 100px;">
      <img style="height: 80%; width: 80%; padding: 10%; border-radius: 50%;" src="{{restObject.display('file_path')}}" >
    </div>
    <div class="horizon-contact-detail-fieldrow">
      <span class="horizon-contact-detail-field">{{restObject.display('lastname')}}</span>
      <span class="horizon-contact-detail-field">{{restObject.display('firstname')}}</span>
      <span class="horizon-contact-detail-field">{{restObject.display('email')}}</span>
      <span class="horizon-contact-detail-field">{{restObject.display('phonenumber')}}</span>
    </div>
  </div>
  <p style="text-align: center; font-size: 12px;">{{restObject.display('status')}}</p>
  <div *ngIf="restObject.has('isContact') && !weFriends" style="margin-top: 50px; width: 100%; height: 35px;" (click)="addContact()">
    <div class="horizon-contact-detail-icon-space">

    </div>
    <div class="horizon-contact-detail-add-row">
      Hinzufügen
    </div>
  </div>
  <div *ngIf="restObject.has('chatId') && restObject.raw['chatId']" style="margin-top: 50px; width: 100%; height: 35px;" routerLink="/chats/{{restObject.display('chatId')}}">
    <div class="horizon-contact-detail-icon-space">

    </div>
    <div class="horizon-contact-detail-add-row">
      Nachricht schreiben
    </div>
  </div>
  <div *ngIf="restObject.has('chatId') && !restObject.raw['chatId']" style="margin-top: 50px; width: 100%; height: 35px;" routerLink="/chats/new/{{restObject.display('id')}}">
    <div class="horizon-contact-detail-icon-space">

    </div>
    <div class="horizon-contact-detail-add-row">
      Nachricht schreiben
    </div>
  </div>
</div>
<div *ngIf="loading">

</div>