<div *ngIf="chatList.length != 0 && !loading">
  <div class="horizon-chat-row">
    <a *ngFor="let chat of chatList.items" routerLink="/chats/{{chat.display('id')}}">
      <div style="height: 100%; width: 60px; display: inline-block; float: left; margin-right: 10px;">
        <img style="height: 80%; width: 80%; padding: 10%; border-radius: 50%;" src="{{chat.get('partner').display('image_path')}}" />
      </div>
      <div style="display: inline-block; height: 59px; width: calc(100% - 120px); border-bottom: 1px solid #c7c7c7;">
        <div style="height: 50%; margin: 0; line-height: 40px;">
          <h4>{{chat.get('partner').display('lastname')}} {{chat.get('partner').display('firstname')}}<span style="font-size: 12px; float: right; line-height: 20px;">{{chat.get('message').display('date') | date:'M.d'}}</span></h4>
        </div>
        <div style="height: 50%; margin: 0;"><span>{{chat.get('message').display('text')}}</span></div>
      </div>
      <div style="display: inline-block; float: right; height: 59px; width: 40px; padding-left: 10px; border-bottom: 1px solid #c7c7c7;">
        <i class="material-icons" style="font-size: 26px; height: 100%; width: 100%; text-align: center; line-height: 60px;">keyboard_arrow_right</i>
      </div>
    </a>
  </div>
</div>
<div *ngIf="chatList.length == 0 && !loading">
  <div class="horizon-chat-row">
    <h4 style="text-align: center;">Keine Chats gefunden</h4>
  </div>
</div>