<!--div-- *ngFor="let chat of chatList.list">
  <h3 *ngIf="chat.has('id')">{{chat.display('id')}}</h3>
</div-->
<div class="horizon-chat-row">
  <a>
    <div style="height: 100%; width: 60px; display: inline-block; float: left;">
      <img style="height: 100%; width: 100%; border-radius: 50%;" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQYFO6BAfbV4er5cO5LYdTqVRv0Ip811GUErA_3E5ghtSeSzVEe8hkcKwc" />
    </div>
    <div style="display: inline-block; height: 100%; width: 280px; padding-left: 10px;">
      <div style="height: 50%; margin: 0;"><h4 style="margin: 0;">Username</h4></div>
      <div style="height: 50%; margin: 0;"><span>Hey wa lauft</span></div>
    </div>
    <div style="display: inline-block; float: right; height: 100%; width: 50px;">
      <i>i</i>
    </div>
  </a>
</div>